{% extends "adminBase.html.twig" %}
{% block title %}Clients{% endblock %}

{% block body %}

    <section class="list_cust container">
        <div class="arrow-back">
            <a href="/dashboard"><img src="../assets/img-content/back.svg" alt="back"></a>
        </div>
        <div class="plus-add">
            <a href="/add-client"><img src="../assets/img-content/add.svg" alt="add"> Ajouter un client</a>
        </div>

        <h1>Liste des clients</h1>
        {% for cl in clients %}
            <div class="list_cust-project"> 
                <a href="/client?id={{ cl.id }}">
                    <h3>{{ cl.firstname }} {{ cl.lastname }}</h3>
                    <p>{{ cl.company }}</p>
                </a>
            </div>
        {% endfor %}

        <div class="list_cust-total">
            <p>{{ clients|length }} contact{% if clients|length > 0 %}s{% endif %}</p>
        </div>
    </section>
{% endblock %}
