{% extends "adminBase.html.twig" %}
{% block title %}Project{% endblock %}

{% block body %}
    <section class="list_project_free">
        <div class="list_project_free-back">
            <img src="" alt="">
        </div>
        <div class="list_project_free-add">
            +
        </div>
        {% for projects in project %}
            {# {{ projects.title }} #}

        <div class="list_project_free-wrap"> 
            <h3><a href="/crm-freelance/project-cl?id={{ projects.id }}">{{ projects.title }}</a></h3>
            <p>porté par {{ project.id_user }}</p>
            <div class="list_project_free-wrap">
                {{ projects.negociation_status }}
            </div>
        </div>
        {% endfor %}
    </section>
{{ project|json_encode }}
{% endblock %}